body {
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,0) 0%, rgba(255,214,202,64) 100%);
}

li {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
header, main {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 2px;
}
header h1{
  text-align: center;
}

#daily-log-box #daily-log-generator {
  margin-left: auto;
  margin-right: auto;
}

#daily-log-box #daily-log-title {
  text-align: center;
}

#today-events {
  text-align: center;
}

#old-logs h3 {
  text-align: center;
  padding-left: 45px;
}

#old-logs li {
  list-style-position: inside;
}

.drop-down #drop-down-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.joy {
  border: 2px solid gold;
  border-radius: 30px;
  text-align: center;
  color: gold
}
.joy:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: gold;
}

.sadness {
  border: 2px solid lightskyblue;
  border-radius: 30px;
  text-align: center;
  color: lightskyblue;
}
.sadness:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: blue;
}

.anger {
  border: 2px solid red;
  border-radius: 30px;
  text-align: center;
  color: red;
}
.anger:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: red;
}

.disgust {
  border: 2px solid green;
  border-radius: 30px;
  text-align: center;
  color: green
}
.disgust:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: green;
}

.fear {
  border: 2px solid purple;
  border-radius: 30px;
  text-align: center;
  color: purple
}
.fear:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: purple;
}

.surprise {
  border: 2px solid orange;
  border-radius: 30px;
  text-align: center;
  color: orange;
}
.surprise:hover {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: orange;
}

.old-log-card {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-right: 35px;
  border: 2px solid black;
  border-radius: 10px;
  background: ghostwhite;
}

/* .drop-down {
  position: relative;
  display: inline-block;
} */

.drop-down-content {
  border: 2px solid black;
  border-radius: 10px;
  display: none;
  position: absolute;
  background: ghostwhite;
}

.show {
  display: block;
}

.drop-down-option {
  margin: 1px;
  padding-top: 5px;
  min-width: 250px;
  min-height: 25px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.drop-down-option:hover {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: powderblue;
}
