body {
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,214,202,0.6398168103448276) 100%);
}

li {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

header, main, footer {
  border: 2px solid transparent;
  border-radius: 10px;
  margin-bottom: 2px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,214,202,0.6398168103448276) 100%);
}
header h1, h2, p {
  text-align: center;
}

#greeting {
  font-family: copperplate;
}

#log-in {
  border: 2px solid black;
  text-align: center;
  padding: 15px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
}

#log-out {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  border-color: blue;
  border-radius: 30px;
  background-color: lightskyblue;
  color: blue;
  font-weight: bold;
}

#log-out:hover {
  transition-property: color, background-color, border-color, box-shadow, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  color: lightskyblue;
  background-color: blue;
  border-color: lightskyblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-2px);
}

#log-out:active {
  transition-property: all;
  transition-duration: .0s;
  transform: translateY(3px);
}

#create-daily-log {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  border-color: blue;
  border-radius: 30px;
  background-color: lightskyblue;
  color: blue;
  font-weight: bold;
}

#create-daily-log:hover {
  transition-property: color, background-color, border-color, box-shadow, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  color: lightskyblue;
  background-color: blue;
  border-color: lightskyblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-2px);
}

#create-daily-log:active {
  transition-property: all;
  transition-duration: .0s;
  transform: translateY(3px);
}

#daily-log-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

textarea[name="event"] {
  width: 430px;
  border-radius: 20px;
  text-align: center;
}

#daily-log-box #daily-log-generator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: 40px;
  border-color: blue;
  border-radius: 30px;
  background-color: lightskyblue;
  color: blue;
  font-weight: bold;
}

#daily-log-box #daily-log-generator:hover {
  transition-property: color, background-color, border-color, box-shadow, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  color: lightskyblue;
  background-color: blue;
  border-color: lightskyblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-2px);
}

#daily-log-box #daily-log-generator:active {
  transition-property: all;
  transition-duration: .0s;
  transform: translateY(3px);
}

#daily-log-box #complete-log {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: 40px;
  border-color: blue;
  border-radius: 30px;
  background-color: lightskyblue;
  color: blue;
  font-weight: bold;
}

#daily-log-box #complete-log:hover {
  transition-property: color, background-color, border-color, box-shadow, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  color: lightskyblue;
  background-color: blue;
  border-color: lightskyblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-2px);
}

#daily-log-box #complete-log:active {
  transition-property: all;
  transition-duration: .0s;
  transform: translateY(3px);
}

#daily-log-box #daily-log-title {
  text-align: center;
}

#today-events {
  text-align: center;
}

#old-logs h3 {
  text-align: center;
  padding-left: 45px;
}

#old-logs li {
  list-style-position: inside;
}

#analytics {
  float: right;
  min-width: 280px;
  border: 2px solid black;
  border-radius: 10px;
  padding-right: 20px;
  background: ghostwhite;
  margin-top: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.drop-down #drop-down-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 40px;
  border-color: blue;
  border-radius: 30px;
  background-color: lightskyblue;
  color: blue;
  font-weight: bold;
}

.drop-down #drop-down-button:hover {
  transition-property: color, background-color, border-color, box-shadow, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  color: lightskyblue;
  background-color: blue;
  border-color: lightskyblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-4px);
}

.drop-down #drop-down-button:active {
  transition-property: all;
  transition-duration: .0s;
  transform: translateY(3px);
}

.joy, #joy {
  border: 2px solid gold;
  border-radius: 30px;
  text-align: center;
  color: gold
}
.joy:hover, #joy:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: gold;
}

.sadness, #sadness {
  border: 2px solid lightskyblue;
  border-radius: 30px;
  text-align: center;
  color: lightskyblue;
}
.sadness:hover, #sadness:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: blue;
}

.anger, #anger {
  border: 2px solid red;
  border-radius: 30px;
  text-align: center;
  color: red;
}
.anger:hover, #anger:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: red;
}

.disgust, #disgust {
  border: 2px solid green;
  border-radius: 30px;
  text-align: center;
  color: green
}
.disgust:hover, #disgust:hover {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: green;
}

.fear, #fear {
  border: 2px solid purple;
  border-radius: 30px;
  text-align: center;
  color: purple
}
.fear:hover, #fear:hover{
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: purple;
}

.surprise, #surprise {
  border: 2px solid orange;
  border-radius: 30px;
  text-align: center;
  color: orange;
}
.surprise:hover, #surprise:hover {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: white;
  background-color: orange;
}

.old-log-card {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-right: 35px;
  border: 2px solid black;
  border-radius: 10px;
  background: ghostwhite;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

/* .drop-down {
  position: relative;
  display: inline-block;
} */

.drop-down-content {
  /* border: 2px solid transparent; */
  border-radius: 10px;
  display: none;
  position: absolute;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,214,202,0.6398168103448276) 100%);
  margin-top: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.show {
  display: block;
}

.drop-down-option {
  margin: 1px;
  padding-top: 5px;
  min-width: 250px;
  min-height: 25px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
}

.drop-down-option:hover {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  color: gray;
  background-color: #b8f3f5;
}

.no-emotion {
  text-align: center;
  border: 2px solid black;
  border-radius: 30px;
  color: black;
  font-size: 40px;
}

*:focus {
    outline: 0 !important;
}
